body {
    background-color: black;
}
h1 {
    text-align: center;
    color: #ff7a59;
}
#selFrame {

	background-color: black;
	height: 300px;
	width: 600px;
	margin: auto;
	position: relative;
	overflow: hidden;
    top: 150px;
    right:300px;
    cursor:  crosshair;
}

#postFrame {
    background-color: black;
	height: 300px;
	width: 600px;
	margin: auto;
	position: relative;
	overflow: hidden;
    top: 300px;
    left:400px;
    cursor:  crosshair;

}
.mode1 {

    background-color: rgb(2, 6, 10);
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    color: #ff7a59;
}
.mode {
    color: aliceblue;
    height: 100px;
    width:600px;
    transition: color 0.25s ease-out, box-shadow 0.25s ease-out;
    background-color: rgb(0, 0, 0);    
    text-align: left;
    font-size: 50px;
    cursor:  alias;
    transition: all 0.5s;
    border-radius: 10px;
    border: none;
}

.mode:hover{
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background:#fff;
  }
  .mode1:hover{
    color: #38435f;
    border: #38435f solid 1px;
    background:rgb(0, 0, 0);
  }

#searchP {
    top:15px;
    
   
}
#searchL {
    top:105px;
}
#searchA {
    top:195px;
}
